/*variables globales*/
:root{
    --color-primario: #0048B0;
    --color-text1:white;
    --background1: #e5ebee;
    --background2: #004ee1;
    --font-size-cuerpo :calc(10px + 0.3vw);
}
/*estilos globales de figure*/
figure{
    margin:0;
    width: calc(8px + 1.2vw);
}
figure img{
    width:100%;
}
/*.........................*/
body{
    margin: 0;
    height: 100vh;
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-primario);
    color: var(--color-text1);
    height:auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
header section{
    display: flex;
    align-items: center;
    font-size: calc(10px + 0.6vw); 
}
#boton-nav{
    display: none;
}
header section figure{
    width: calc(26px + 1.8vw); 
    margin: 0;
    padding: 0.5em 1.5em;
}
header section figure img{
    width: 100%;
}
header .icono1 {
    display: flex;
    background-color: var(--background2);
    align-items: center;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;  
}
header figure img{
    width: calc(24px + 1.2vw)
}
header figure span{
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size:var(--font-size-cuerpo);
    padding-right: 6px;   
}
.lyout{
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    color: black;  
    border-right:solid 1px gray; 
   
   
}
nav .rol, nav .confi{
    border-bottom:solid 1px gray ;
}
/*Primer section del nav*/
.rol{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: calc(12px + 0.4vw);
    gap: 0.3em;
    background-color: var(--background1); 
}
.rol h3, .rol p{
    margin:0;
}
nav .rol{
    padding: 16% calc(6px + 0.5vw);
}

/*Segundo section del nav*/
.confi p:first-child{
    padding-left:calc(6px + 0.5vw);
    padding-top: 16%;
    margin: 0;
    padding-bottom: calc(6px + 0.5vw);
}
.icono2{
    display: flex;
    border:none;
    gap:0.2rem;  
    width: 100%; 
    padding: 0 calc(6px + 0.5vw);
    background-color: white;   
}
.icono2 figure{
    padding-top:0.16em;
}
.icono2 p{
    margin: 0;
}
.confi button  p, .modulos p{
    font-size:var(--font-size-cuerpo);
    margin-top: 0;
    font-family: "Baloo Paaji 2", sans-serif;
   
}
/*Tercer section del nav*/
.modulos{
    display: flex;
    flex-direction: column;
    font-family: "Baloo Paaji 2", sans-serif;
}
.modulos p, .p{
    font-size:calc(12px + 0.4vw) ;
    margin:0;
    margin-bottom: 0.8em;
    padding-left: 9%;
    padding-top: 16%;
}
.modulos button{
    border-radius: 0;
    text-align: left;
    align-content: center;
    align-items: center;
    background-color: white;
    border: none;
    padding-left: 9%;
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: calc(10px + 0.3vw);
    font-family: "Baloo Paaji 2", sans-serif;
}
.modulos button:focus, .icono2:focus{
    background-color: var(--background1);
}

/*Segunda sección*/
main{
    background-color: var(--background1);
    width: 100%;
    display: flex;
    justify-content: center; 
    height: 100vh;

}
main .bienvenida{
    background-image: linear-gradient(320deg, var(--color-primario) -20%, transparent);
    border-radius: 10px;
    padding: calc(20px + 0.2vw);
    margin-top: 2em;
    width: 80%;
    height: fit-content;
    border: solid 1px gray;
    font-size:calc(12px + 0.6vw);
}
/*Nav*/
#nav{
    transition:all 0.5s ease-in-out;
}

/*estilos para desplegar el menu´*/
@media (max-width: 700px){
    #boton-nav{
        display:flex;
        margin: 0;
        background-color: var(--color-primario);
        border: none;
        width: fit-content;
        cursor:pointer;
    }
    #boton-nav img{
        width: calc(20px + 1.2vw);
    }
    #nav.cerrado{
        display: none;
    } 
    #nav.abierto{
        display: flex;
    }  
}