/*variables globales*/
:root{
    --color-primario: #0048B0;
    --color-text1:white;
    --background1: #e5ebee;
    --background2: #004ee1;
}

section h3{
    font-size: calc(10px + 1vw);
    color: var(--color-primario);
    margin-left: 1%;
}
div{
    background-color: white;
}
#buscar{
    text-align: right;
    border-bottom: solid 1px gray;
    padding: 1em;
    font-size: calc(10px + 0.3vw);
}
input{
    border-radius: 4px;
    width: 20%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    font-size: calc(8px + 0.5vw);
    padding: calc(5px + 0.2vw);
    text-align: center;
}
table #clientes:hover{
    background-color: var(--background1);
}
.space{
    width: 5%;
}
button{
    background-color: var(--color-primario);
    color: var(--color-text1);
    border:none;
    padding: 0.5em;
    border-radius: 4px;
    font-size:calc(8px + 0.5vw) ;
}