/*variables globales*/
:root{
    --color-primario: #0048B0;
    --color-text1:white;
    --background1: #e5ebee;
    --background2: #004ee1;
}

section h3{
    font-size: calc(10px + 1vw);
    color: var(--color-primario);
    margin-left: 1%;
}
div{
    background-color: white;
    width: fit-content;
}
#buscar{
    text-align: right;
    border-bottom: solid 1px gray;
    padding: 1em;
    font-size: calc(10px + 0.3vw);
}
input{
    border-radius: 4px;
    width: 20%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    font-size: calc(8px + 0.5vw);
    padding: calc(5px + 0.2vw);
    text-align: center;
}
table #clientes:hover{
    background-color: var(--background1);
}
.space{
    width: 5%;
}
button{
    background-color: white;
    border:none;
    padding: 0.5em;
    border-radius: 4px;
    font-size:calc(9px + 0.5vw);
    text-align: center;
    width: 100%;
}

.boton-menu {
    position: relative;
    display: inline-block;
}
  
.boton {
    background-color:var(--color-primario);
    color: #fff;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.menu-desplegable {
    display: none;
    position: absolute;
    background-color: white;  
    border-radius: 15px;
    width: fit-content;
    padding: 0;
}
button:active{
    background-color: var(--background1);
}
figure{
    margin:0;
    width: calc(8px + 1.2vw);
}
figure img{
    width:100%;
}
.icono2{
    display: flex;
    border:none;
    align-content: center;
    align-items: center;
    gap:0.2rem;  
    width: 100%; 
    padding: 0 calc(6px + 0.5vw);
    background-color: white;   
}
.icono2:hover{
    background-color: var(--background1);
    cursor: pointer;
}
.icono2 figure{
    padding-top:0.16em;
}
.icono2 p{
    margin: 0;
}

  

   