* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

/* Encabezado fijo en la parte superior */
header {
    position: fixed; /* Cambiar a fixed para que flote siempre en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Ajustar el padding para mejor visualización */
    background-color: transparent; /* Fondo transparente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

header .logo img {
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 80px; /* Aumentar el espacio entre los elementos */
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px; /* Aumentar tamaño de fuente */
    font-weight: bold;
}

header .login a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px; /* Aumentar tamaño de fuente */
    font-weight: bold;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

header .login a:hover {
    background-color: #ffdd44;
}

/* Estilos de Sección Héroe */
.hero {
    position: relative;
    background: url('../assets/fondoPrincipal.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Alinear contenido a la izquierda */
    align-items: center;
    color: white;
    padding-left: 10%; /* Espacio a la izquierda para el texto */
    z-index: 1; /* Asegúrate de que esté por debajo del encabezado */
}

.hero-content {
    text-align: left; /* Alinear texto a la izquierda */
    background: transparent; /* Fondo transparente para el texto */
    padding: 20px 40px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5em;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.4;
}

/* MEDIA QUERIES */
@media (max-width: 10100px) {
    header {
        padding: 20px 40px;
    }
    
    header nav ul {
        gap: 50px; /* Ajustar espacio para pantallas más pequeñas */
    }
    
    header .login a {
        padding: 8px 16px;
        font-size: 20px; /* Ajustar tamaño de fuente */
    }
    
    .hero-content h1 {
        font-size: 4em;
    }
    
    .hero-content p {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
    
    header nav ul {
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
    
    .hero-content h1 {
        font-size: 3em;
    }
    
    .hero-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header .logo img {
        height: 40px;
    }
    
    header nav ul li a {
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    header .login a {
        padding: 6px 12px;
        font-size: 16px; /* Ajustar tamaño de fuente */
    }

    .hero {
        height: 80vh; /* Ajuste de altura en pantallas muy pequeñas */
    }

    .hero-content {
        padding: 15px 20px;
    }

    .hero-content h1 {
        font-size: 2.5em;
    }

    .hero-content p {
        font-size: 0.9em;
    }

}
.container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
    z-index: 1000;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #00aeff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #f7e600;
	border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-instagram{
	background: #f7e600;
}
.container-bar .fa-whatsapp{
	background: #f7e600;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}
